
<div id="login">
<div class="card m-3">
  <h5 class="card-header"> جهت عضویت در سایت این قسمت را پر کنید </h5>
  <div class="card-body" >
      <form [formGroup]="registerForm" id="form" (ngSubmit)="onSubmit()">
          <div class="form-row" >
              <div class="form-group col">
              
              </div>
              <div class="form-group col-5">
                  <label>نام</label>
                  <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">فیلد نام خالی است!</div>
                  </div>
              </div>
              <div class="form-group col-5">
                  <label >نام خانوادگی</label>
                  <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">فیلد نام خانوادگی خالی است!</div>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <label>ایمیل</label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required"> فیلد ایمیل خالی است!</div>
                  <div *ngIf="f.email.errors.email">ایمیل را نادرست وارد کردید!</div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  <label>رمز عبور</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">فیلد رمز عبور خالی است!</div>
                      <div *ngIf="f.password.errors.minlength">رمز عبور باید بیشتر از6 کاراکتر باشد</div>
                  </div>
              </div>
              <div class="form-group col">
                  <label>تکرار رمز عبور</label>
                  <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">فیلد تکرار خالی است</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">رمز عبور همخوانی ندارد</div>
                  </div>
              </div>
          </div>
         
          <div class="text-center">
              <button class="btn btn-primary mr-1">ثبت</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()">برگشت</button>
            </div>
            <span>fghg</span>
      </form>
  </div>
</div>
</div>
<h4>اگر قبلا ثبت نام کرده اید <a routerLink="/signup">وارد</a> شوید</h4>

 
