h4{
  text-align: center;
}
#login{
    margin-top: 100px;
    text-align: right;
}
@media only screen and (min-width: 1060px) {
    #login{
        width:450px;
        height: 300px;
      margin-left: 320px;
      margin-bottom: 120px;
      padding-left: 50px;
 
    }
   
#form{
    width: 350px;
    height: 300px;
    text-align: right;
    padding-top: 30px;


}
  }
  /* @media only screen and (max-width: 1366px){
    #login{
        width:600px;
        height: 400px;
      margin-left: 210px;
      margin-bottom: 120px;
      padding-left: 50px;
 
    }
   
#form{
    width: 500px;
    height: 300px;
    text-align: right;
    padding-top: 30px;


}
  } */