<div class="list">
    <h2>انتشارات و کتابفروشی </h2>
    <a routerLink="/industry">gdfbdfvdvbvsdvvsvs</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
  </div>

