@font-face{
    font-family:'vazir';
    src:url(src/assets/font/Vazir.ttf);
}
*{height: auto;}
.container{
    margin-top: 50px;
}
p{
    font-size: 2rem;
    
}
.container{
    margin-right: 25px;
}
.post{
    display: inline-block;
    margin:30px 30px 30px  20px;
    
}
.card{
    width: 250px;
    border-radius: 30px;
    border-color: #2ea59f;
    box-shadow: 0 2px 10px 0 rgba(66, 66, 66, 0.507);
}
.card-header{
height: 150px;
border-radius: 30px ;
border-color: #2ea59f;

}
.card-body{
    height: 50px;

}
.text-center{
    font-family:"vazir";
}
@media only screen and (max-width: 640px)
{ 
.container{
  margin-top: 150px;

}
}
 
