*{height: auto;}
.container{
    margin-top: 50px;
}
p{
    font-size: 2rem;
    
}
.post{
    display: inline-block;
    margin:30px 30px 30px  20px;
    
}
.card{
    width: 250px;
    border-radius: 30px;
    border-color: rgb(103, 22, 134);
}
.card-header{
height: 150px;
border-radius: 30px ;
border-color: rgb(103, 22, 134);
}
.card-body{
    height: 50px;

}
@media only screen and (max-width: 640px)
{ 
.container{
  margin-top: 150px;

}
}
 
