 <!-- Page Content -->
 <div class="container">
 <section class="py-5">
    
     <!-- <h2 class="font-weight-light">درباره</h2>-->
      <p class="text-center" >معرفی تمامی کسب و کار ها و تمامی خدمات نمایندگی ها در همدان</p>
    
  </section>
  <a href="#">
<div class="post">
  <div class="card">
    <div class="card-header"></div>
<div class="card-body"></div>
  </div>
</div>
</a>
<a href="#">
<div class="post">
  <div class="card">
    <div class="card-header"></div>
<div class="card-body"></div>
  </div>
</div>
</a>
<a href="#">
<div class="post">
  <div class="card">
    <div class="card-header"></div>
<div class="card-body"></div>
  </div>
</div>
</a>
<a href="#">
<div class="post">
  <div class="card">
    <div class="card-header"></div>
<div class="card-body"></div>
  </div>
</div>
</a>
  <a href="#">
<div class="post">
  <div class="card">
    <div class="card-header"></div>
<div class="card-body"></div>
  </div>
</div>
</a>
<a href="#">
<div class="post">
  <div class="card">
    <div class="card-header"></div>
<div class="card-body"></div>
  </div>
</div>
</a>
</div>
  <router-outlet></router-outlet>
 
