<app-property></app-property>
 <!-- Page Content -->
 <div class="container" >
   
 <section class="py-5">
    
    <br/>
    <br/>
    <br/>
    <br/>
      <p class="text-center" >معرفی تمامی کسب و کار ها و تمامی خدمات نمایندگی ها در همدان</p>
    
  </section>
  <a routerLink="/industry">
<div class="post">
  <div class="card">
    <div class="card-header"></div>
<div class="card-body"></div>
  </div>
</div>
</a>
<a href="#">
<div class="post">
  <div class="card">
    <div class="card-header"></div>
<div class="card-body"></div>
  </div>
</div>
</a>
<a href="#">
<div class="post">
  <div class="card">
    <div class="card-header"></div>
<div class="card-body"></div>
  </div>
</div>
</a>
<a href="#">
<div class="post">
  <div class="card">
    <div class="card-header"></div>
<div class="card-body"></div>
  </div>
</div>
</a>
  <a href="#">
<div class="post">
  <div class="card">
    <div class="card-header"></div>
<div class="card-body"></div>
  </div>
</div>
</a>
<a href="#">
<div class="post">
  <div class="card">
    <div class="card-header"></div>
<div class="card-body"></div>
  </div>
</div>
</a>
</div>
  <router-outlet></router-outlet>
 
