
@font-face{
    font-family:'vazir';
    src:url(src/assets/font/Vazir.ttf);
}
*{
    font-family:"vazir";
    font-size: 20px;
}.list{
    height:auto;
        width: 50rem;
        border-radius: 25px 25px 0 0;
      
    text-align: center;
    margin: 10rem 40rem 10rem 40rem;
    box-shadow: 1px 1px 15px #859e81;
    }
    h2{
        background-image:linear-gradient(rgb(255, 255, 255),#7c9e77) ;
        height:  45px;
        padding-top: 15px;
        border-radius: 25px 25px 0 0;
    }
    
    .list a{
    direction: rtl;
    color: #668062;
    }
    @media only screen and (max-width: 640px) {
        .list{
            width: 40rem;
         
        }
    }
    @media only screen and (max-width: 731px) {
        .list{
            width: 30rem;
          margin-left: auto;
          margin-right: auto;
        }
    }
    @media only screen and (max-width: 1024px) {
        .list{
            width: 35rem;
            margin-left: auto;
            margin-right: auto;
        }
    }