<nav class="navbar navbar-dark bootsnav" id="navsize">
    <div class="container-fluid">
        <div class="alignnav">
            <h3> لوگو بازار آنلاین همدان</h3>
        </div>
        <div class="attr-nav">
            <ul>
                <li class="dropdown">
                <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
    <!-- Start Side Menu -->
    <div class="side">
        <a href="#" class="close-side"><i class="fa fa-times"></i></a>
        <div class="widget">
            <h6 class="titlemaster">لیست مشاغل</h6>
        </div>

        <div class="widget">
            <h6 class="title">خدمات عمومی</h6>
            <ul class="link">
                <li><a routerLink="/listmenu">قالی شویی</a></li>
                <li><a routerLink="/listmenu">خشک شویی</a></li>
                <li><a routerLink="/listmenu">خدمات نظافتی</a></li>
                <li><a routerLink="/listmenu">خدمات فنی و تاسیسات</a></li>
                <li><a routerLink="/listmenu">خدمات آسانسور</a></li>
                <li><a routerLink="/listmenu">سمپاشی</a></li>
                <li><a routerLink="/listmenu">لوله بازکنی</a></li>
                <li><a routerLink="/listmenu">تاکسی تلفنی</a></li>
                <li><a routerLink="/listmenu">اتوبار</a></li>
                <li><a routerLink="/listmenu">پیک موتوری</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">خودرو</h6>
            <ul class="link">
                <li><a href="#">نمایندگی خودرو</a></li>
                <li><a href="#">نمایشگاه اتوموبیل</a></li>
                <li><a href="#">تعمیرگاه خودرو</a></li>
                <li><a href="#">اجاره خودرو</a></li>
                <li><a href="#">تزئینات اتوموبیل</a></li>
                <li><a href="#">خدمات و تامیرات خودرو</a></li>
                <li><a href="#">لوازم یدکی</a></li>
                <li><a href="#">کارواش</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">املاک</h6>
            <ul class="link">
                <li><a href="#">مشاورین مسکن</a></li>
                <li><a href="#">باغ و زمین</a></li>
                <li><a href="#">مشارکت در ساخت</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">محصولات آموزشی فرهنگی</h6>
            <ul class="link">
                <li><a href="#">انتشارات و کتابفروشی</a></li>
                <li><a href="#">لوازم تحریر</a></li>
                <li><a href="#">بازی فکری</a></li>
                <li><a href="#">نرم افزار آموزشی و سرگرمی</a></li>
                <li><a href="#">نرم افزارحسابداری و اداری</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">تدریس خصوصی</h6>
            <ul class="link">
                <li><a href="#">زبان انگلیسی</a></li>
                <li><a href="#">هنری</a></li>
                <li><a href="#">آرایش</a></li>
                <li><a href="#">کامپیوتر</a></li>
                <li><a href="#">سایر تدریس خصوصی</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">مدارس و آموزشگاه ها</h6>
            <ul class="link">
                <li><a href="#">مدارس</a></li>
                <li><a href="#"> مهد کودک پیش دبستانی دبستان </a></li>
                <li><a href="#"> مجتمع آموزشی</a></li>
                <li><a href="#">آموزشگاه زبان </a></li>
                <li><a href="#">آموزشگاه کامپیوتر </a></li>
                <li><a href="#">آموزشگاه هنر و نقاشی</a></li>
                <li><a href="#">آموزشگاه کنکور</a></li>
                <li><a href="#">آموزشگاه آرایشی</a></li>
                <li><a href="#">آموزشگاه رانندگی</a></li>
                <li><a href="#">آموزشگاه خیاطی</a></li>
                <li><a href="#">آموزشگاه آشپزی</a></li>
                <li><a href="#"> سایر آموزشگاه </a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">تشریفات و خدمات مجالس </h6>
            <ul class="link">
                <li><a href="#">موسسه پذیرایی </a></li>
                <li><a href="#">باغ و تالار پذیرایی</a></li>
                <li><a href="#"> سفره عقد</a></li>
                <li><a href="#"> اجرای موزیک</a></li>
                <li><a href="#">گل فروشی</a></li>
                <li><a href="#">برگزاری جشن تولد </a></li>
                <li><a href="#">سایر </a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">مهارت و جهانگردی</h6>
            <ul class="link">
                <li><a href="#">آژانس هواپیمایی</a></li>
                <li><a href="#">هتل ها</a></li>
                <li><a href="#">اخذ ویزا و خدمات مهاجرتی</a></li>
                <li><a href="#"> اعزام دانشجو و خدمات تحصیلی </a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">هنر و موسیقی</h6>
            <ul class="link">
                <li><a href="#">آموزشگاه موسیقی</a></li>
                <li><a href="#">تدریس خصوصی و موسیقی</a></li>
                <li><a href="#">آلات موسیقی</a></li>
                <li><a href="#">صنایع دستی</a></li>

            </ul>
        </div>
        <div class="widget">
            <h6 class="title">خدمات ساختمان</h6>
            <ul class="link">
                <li><a href="#">پنجره upvc</a></li>
                <li><a href="#">نقاشی ساختمان</a></li>
                <li><a href="#">شیرآلات و تجهیزات بهداشتی</a></li>
                <li><a href="#">مصالح ساختمانی</a></li>
                <li><a href="#">سیستم های حفاظتی و امنیتی</a></li>
                <li><a href="#">دوربین مداربسته</a></li>
                <li><a href="#">آسانسور و پله برقی</a></li>
                <li><a href="#">درب اتوماتیک</a></li>
           

            </ul>
        </div>
        <div class="widget">
            <h6 class="title">لوازم خانگی</h6>
            <ul class="link">
                <li><a href="#">صوتی و تصویری</a></li>
                <li><a href="#">کولر و اسپلیت</a></li>
                <li><a href="#">لوازم آشپزخانه</a></li>
                <li><a href="#">لوازم دکوری</a></li>
                <li><a href="#">تصفیه آب</a></li>
                <li><a href="#">تعمیرات لوازم خانگی و برقی</a></li>
                <li><a href="#">ظروف یکبار مصرف</a></li>
                <li><a href="#">سایر</a></li>
                

            </ul>
        </div>
        <div class="widget">
            <h6 class="title">کامپیوتر و موبایل</h6>
            <ul class="link">
                <li><a href="#">فروش خدمات و تعمیرات کامپیوتر </a></li>
                <li><a href="#">طراحی</a></li>
                <li><a href="#">اینترنت پر سرعت</a></li>
                <li><a href="#">فروش و تعمیرات گوشی</a></li>
                <li><a href="#">سیم کارت</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">خدمات حقوقی بیمه</h6>
            <ul class="link">
                <li><a href="#">خدمات حقوقی</a></li>
                <li><a href="#">دفتر وکالت</a></li>
                <li><a href="#">خدمات بیمه</a></li>

            </ul>
        </div>
        <div class="widget">
            <h6 class="title">صرافی</h6>

        </div>
        <div class="widget">
            <h6 class="title">خدمات مالی و موسسات حسابداری</h6>
            <ul class="link">
                <li><a href="#">کارگزاری بورس</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">گالری پوشاک</h6>
            <ul class="link">
                <li><a href="#">مزون و شوی لباس</a></li>
                <li><a href="#">لباس عروس</a></li>
                <li><a href="#">پوشاک بانوان</a></li>
                <li><a href="#">پوشاک آقایان</a></li>
                <li><a href="#">پوشاک کودکان</a></li>
                <li><a href="#">سیسمونی و نوزاد</a></li>
                <li><a href="#">کیف و کفش</a></li>
                <li><a href="#">پارچه و منسوجات</a></li>
                <li><a href="#">خیاطی</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">آتلیه عکاسی</h6>
            <ul class="link">
                <li><a href="#">آتلیه عکاسی و فیلمبرداری</a></li>
                <li><a href="#">آتلیه عکاسی کودک</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">فروشگاه لوازم ورزشی</h6>
            <ul class="link">
                <li><a href="#">محصولات ورزشی</a></li>
                <li><a href="#">تجهیزات ورزشی</a></li>
                <li><a href="#">فروشگاه دوچرخه</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">باشگاه ورزشی</h6>
            <ul class="link">
                <li><a href="#">باشگاه بدنسازی</a></li>
                <li><a href="#">ایروبیک</a></li>
                <li><a href="#">یوگا</a></li>
                <li><a href="#">آموزش شنا</a></li>
                <li><a href="#">هنرهای رزمی</a></li>
                <li><a href="#">شطرنج</a></li>
                <li><a href="#">ژیمناستیک</a></li>
                <li><a href="#">اسکیت</a></li>
                <li><a href="#">بیلیارد و بولینگ</a></li>
                <li><a href="#">پینت بال</a></li>
                <li><a href="#">سایر آموزش ها</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">خدمات تفریح و سرگرمی</h6>
            <ul class="link">
                <li><a href="#">کارتینگ</a></li>
                <li><a href="#">بیلیارد و بولینگ</a></li>
                <li><a href="#">پینت بال</a></li>
                <li><a href="#">اطاق بازی کودکان</a></li>
                <li><a href="#">استخر</a></li>
            </ul>
        </div>      <div class="widget">
            <h6 class="title">معماری و دکوراسیون</h6>
            <ul class="link">
                <li><a href="#">دکوراسیون داخلی و نما</a></li>
                <li><a href="#">کابینت آشپزخانه</a></li>
                <li><a href="#">اجرای فضای سبز</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">تزئینات داخلی</h6>
            <ul class="link">
                <li><a href="#">کاغذ دیواری </a></li>
                <li><a href="#">پارکت و لمینت</a></li>
                <li><a href="#">کناف</a></li>
                <li><a href="#">لوستر</a></li>
                <li><a href="#">پرده</a></li>
                <li><a href="#">درب های آپارتمانی</a></li>
                <li><a href="#">موکت</a></li>
                <li><a href="#">آکواریوم</a></li>

            </ul>
        </div>
        <div class="widget">
            <h6 class="title">خدمات پزشکی و درمانی</h6>
            <ul class="link">
                <li><a href="#">بیمارستان</a></li>
                <li><a href="#">درمانگاه</a></li>
                <li><a href="#">فیزیو تراپی و توانبخشی</a></li>
                <li><a href="#">آزمایشگاه</a></li>
                <li><a href="#">مشاوره و روان درمانی</a></li>
                <li><a href="#">ترک اعتیاد</a></li>
                <li><a href="#">داروخانه</a></li>
                <li><a href="#">رادیولوژی و سونوگرافی</a></li>
                <li><a href="#">طب سنتی و عطاری</a></li>
                <li><a href="#">خانه سالمندان</a></li>
                <li><a href="#">پرستاری</a></li>
                <li><a href="#">مامایی</a></li>
                <li><a href="#">طب سوززنی</a></li>
                <li><a href="#">شنوایی سنجی</a></li>
                <li><a href="#">بینایی سنجی</a></li>
                <li><a href="#">کاردرمانی و گفتار درمانی</a></li>
                <li><a href="#">محصولات و کالاهای پزشکی</a></li>
            </ul>
        </div>
        <div class="widget">
                <h6 class="title">دامپزشکی</h6>
                <ul class="link">
                    <li><a href="#">کلینیک دامپزشکی</a></li>
                    <li><a href="#">فروش و لوازم حیوانات</a></li>
             
                </ul>
            </div>
              <div class="widget">
            <h6 class="title">کلینیک های زیبایی وکاشت مو</h6>
            <ul class="link">
                <li><a href="#">کاشت مو</a></li>
                <li><a href="#">لیزر موهای زائد</a></li>
                <li><a href="#">تزریق ژل و بوتاکس</a></li>
                <li><a href="#">جوانسازی</a></li>
                <li><a href="#">لیفت با نخ</a></li>
                <li><a href="#">لاغری و تناسب اندام</a></li>
                <li><a href="#">مراقبت پوست و مو</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">پزشکان</h6>
            <ul class="link">
                   <li><a href="#">فوق تخصص جراحی پلاستیک</a></li>
                 <li><a href="#">جراحی زیبایی و لیپوماتیک</a></li>
                 <li><a href="#">جراحی بینی</a></li>
                <li><a href="#">متخصص جراحی عمومی</a></li>
                 <li><a href="#">متخصص زنان و زایمان</a></li>
                 <li><a href="#">پزشکان پوست و مو</a></li>
                 <li><a href="#">متخصص داخلی </a></li>
                 <li><a href="#">فوق تخصص گوارش و کبد</a></li>
                  <li><a href="#">متخصص قلب و عرق</a></li>
                 <li><a href="#">فوق تخصص غدد رشد و متابولیسم</a></li>
                  <li><a href="#">متخصص چشم</a></li>
                  <li><a href="#">متخصص کلیه و مجاری ادراری</a></li>
                <li><a href="#">متخصص گوش حلق و بینی</a></li>
                 <li><a href="#">متخصص جراحی فک و صورت</a></li>
                <li><a href="#">جراح و متخصص مغز و اعصاب</a></li>
                <li><a href="#">متخصص ارتوپدی</a></li>
                <li><a href="#">متخصص کودکان</a></li>
                <li><a href="#">متخصص اعصاب و روان</a></li>
                <li><a href="#">متخصص تغذیه و رژیم درمانی</a></li>
                <li><a href="#">دندانپزشکان</a></li>
                <li><a href="#">کلینیک دندانپزشکی</a></li>
                <li><a href="#">دندانپزشک کودکان</a></li>
                <li><a href="#">دندانپزشک زیبایی</a></li>
                <li><a href="#">ایمپلمنت-کاشت دندان</a></li>
                <li><a href="#">جراحی لثه</a></li>
                <li><a href="#">ارتودنسی</a></li>
              
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">سالن های آرایشی و زیبایی</h6>
            <ul class="link">
                <li><a href="#">میکرو پگیمنتیشن</a></li>
                <li><a href="#">کاشت و طراحی ناخن </a></li>
                <li><a href="#">اپیلاسیون و اکستنشن</a></li>
                <li><a href="#">ماساژ</a></li>
                <li><a href="#">آرایشگاه مردانه</a></li>
                <li><a href="#">آرایشگاه کودک</a></li>
                <li><a href="#">محصولات آرایشی و زیبایی</a></li>
                <li><a href="#">عطر و ادکلن</a></li>
                <li><a href="#">خدمات پوست مو و زیبایی</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">جواهرات و بدلیجات</h6>
            <ul class="link">
                <li><a href="#">طلا و جواهر و سکه</a></li>
                <li><a href="#"> نقره</a></li>
                <li><a href="#">زیور آلات و بدلیجات</a></li>
          
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">ساعت و عینک</h6>
            <ul class="link">
                <li><a href="#">ساعت</a></li>
                <li><a href="#">لنز و عینک های طبی</a></li>
                <li><a href="#">عینک های آفتابی</a></li>
              
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">مبلمان و سرویس خواب</h6>
            <ul class="link">
                <li><a href="#">مبل</a></li>
                <li><a href="#">سرویس خواب </a></li>
                <li><a href="#">تشک و کالای خواب</a></li>
                <li><a href="#">صنایع چوبی و فلزی</a></li>
                <li><a href="#">تعمیرات و پیراهن مبل</a></li>
           
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">فرش</h6>
            <ul class="link">
                <li><a href="#">فرش دستباف</a></li>
                <li><a href="#">فرش ماشینی</a></li>
                <li><a href="#">گبه</a></li>
                <li><a href="#">تابلو فرش</a></li>
                <li><a href="#">تعمیر و ترمیم فرش</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">رستوران و فست فود</h6>
            <ul class="link">
                <li><a href="#">تهیه غذا</a></li>
                <li><a href="#">فست فود</a></li>
                <li><a href="#">کافه و کافی شاپ</a></li>
                <li><a href="#">سفره خانه</a></li>
                <li><a href="#">قنادی</a></li>
                <li><a href="#">آبمیوه و بستنی</a></li>
                <li><a href="#">خشکبار و آجیل</a></li>
                <li><a href="#">هایپر مارکت</a></li>
                <li><a href="#">محصولات غذایی</a></li>
      
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">موسسه فرهنگی وهنری</h6>
        </div>
        <div class="widget">
                <h6 class="title">موسسه فرهنگی وهنری</h6>
            </div>
            <div class="widget">
                    <h6 class="title">دارالترجمه</h6>
                </div>
                <div class="widget">
                        <h6 class="title">آگهی های تخفیف دار</h6>
                    </div>
                    <div class="widget">
                            <h6 class="title">دفتر خدمات ارتباطی</h6>
                        </div>
                        <div class="widget">
                                <h6 class="title">چاپ و تبلیغات</h6>
                            </div>
                            <div class="widget">
                                    <h6 class="title">بانک</h6>
                                </div>
                                <div class="widget">
                                        <h6 class="title">فروشگاه اسباب بازی</h6>
                                    </div>
                                    <div class="widget">
                                            <h6 class="title">محصولات شوینده و بهداشتی</h6>
                                        </div>
        

    </div>
    <!-- End Side Menu -->
</nav>
