h6{
    font-size: 20px;
}
#navsize{
    height: 50px;
}
.container-fluid{
  
    align-content: left;
    height: 50px;
    text-align: left;
    left: 0;
}
h3{
   
}
.alignnav{
    position:absolute ;
            border: 2p solid black;
}
.attr-nav{
   
    height: 60px;
    
}