<nav class="navbar navbar-dark bootsnav" id="navsize">
    <div class="container-fluid">
        <div class="alignnav">
            <h3> لوگو بازار آنلاین همدان</h3>
        </div>
        <div class="attr-nav">
            <ul>
                <li class="dropdown">
                <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
    <!-- Start Side Menu -->
    <div class="side">
        <a href="#" class="close-side"><i class="fa fa-times"></i></a>
        <div class="widget">
            <h6 class="titlemaster">لیست مشاغل</h6>
        </div>

        
        <div class="widget">
            <h6 class="title"> خودرو</h6>
           
            <ul class="link">
                <li><a routerLink="listmenu">نمایندگی خودرو</a></li>
                <li><a routerLink="car">نمایشگاه اتوموبیل</a></li>
                <li><a routerLink="repaircar">تعمیرگاه خودرو</a></li>
                <li><a routerLink="rentcar">اجاره خودرو</a></li>
                <li><a routerLink="decorating">تزئینات اتوموبیل</a></li>
                <li><a routerLink="servicescar">خدمات و نعمیرات خودرو</a></li>
                <li><a routerLink="spairparts">لوازم یدکی</a></li>
                <li><a routerLink="carwash">کارواش</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">املاک</h6>
            <ul class="link">
                <li><a routerLink="housingconsoultunt">مشاورین مسکن</a></li>
                <li><a routerLink="garden">باغ و زمین</a></li>
                <li><a routerLink="takingpart">مشارکت در ساخت</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">محصولات آموزشی فرهنگی</h6>
            <ul class="link">
                <li><a routerLink="bookstares">انتشارات و کتابفروشی</a></li>
                <li><a routerLink="stationery">لوازم تحریر</a></li>
                <li><a routerLink="braingames">بازی فکری</a></li>
                <li><a routerLink="listmenu">نرم افزار آموزشی و سرگرمی</a></li>
                <li><a routerLink="listmenu">نرم افزارحسابداری و اداری</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">تدریس خصوصی</h6>
            <ul class="link">
                <li><a routerLink="listmenu">زبان انگلیسی</a></li>
                <li><a routerLink="listmenu">هنری</a></li>
                <li><a routerLink="listmenu">آرایش</a></li>
                <li><a routerLink="listmenu">کامپیوتر</a></li>
                <li><a routerLink="listmenu">سایر تدریس خصوصی</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">مدارس و آموزشگاه ها</h6>
            <ul class="link">
                <li><a routerLink="listmenu">مدارس</a></li>
                <li><a routerLink="listmenu"> مهد کودک پیش دبستانی دبستان </a></li>
                <li><a routerLink="listmenu"> مجتمع آموزشی</a></li>
                <li><a routerLink="listmenu">آموزشگاه زبان </a></li>
                <li><a routerLink="listmenu">آموزشگاه کامپیوتر </a></li>
                <li><a routerLink="listmenu">آموزشگاه هنر و نقاشی</a></li>
                <li><a routerLink="listmenu">آموزشگاه کنکور</a></li>
                <li><a routerLink="listmenu">آموزشگاه آرایشی</a></li>
                <li><a routerLink="listmenu">آموزشگاه رانندگی</a></li>
                <li><a routerLink="listmenu">آموزشگاه خیاطی</a></li>
                <li><a routerLink="listmenu">آموزشگاه آشپزی</a></li>
                <li><a routerLink="listmenu"> سایر آموزشگاه </a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">تشریفات و خدمات مجالس </h6>
            <ul class="link">
                <li><a routerLink="listmenu">موسسه پذیرایی </a></li>
                <li><a routerLink="listmenu">باغ و تالار پذیرایی</a></li>
                <li><a routerLink="listmenu"> سفره عقد</a></li>
                <li><a routerLink="listmenu"> اجرای موزیک</a></li>
                <li><a routerLink="listmenu">گل فروشی</a></li>
                <li><a routerLink="listmenu">برگزاری جشن تولد </a></li>
                <li><a routerLink="listmenu">سایر </a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">مهارت و جهانگردی</h6>
            <ul class="link">
                <li><a routerLink="listmenu">آژانس هواپیمایی</a></li>
                <li><a routerLink="listmenu">هتل ها</a></li>
                <li><a routerLink="listmenu">اخذ ویزا و خدمات مهاجرتی</a></li>
                <li><a routerLink="listmenu"> اعزام دانشجو و خدمات تحصیلی </a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">هنر و موسیقی</h6>
            <ul class="link">
                <li><a routerLink="listmenu">آموزشگاه موسیقی</a></li>
                <li><a routerLink="listmenu">تدریس خصوصی و موسیقی</a></li>
                <li><a routerLink="listmenu">آلات موسیقی</a></li>
                <li><a routerLink="listmenu">صنایع دستی</a></li>

            </ul>
        </div>
        <div class="widget">
            <h6 class="title">خدمات ساختمان</h6>
            <ul class="link">
                <li><a routerLink="listmenu">پنجره upvc</a></li>
                <li><a routerLink="listmenu">نقاشی ساختمان</a></li>
                <li><a routerLink="listmenu">شیرآلات و تجهیزات بهداشتی</a></li>
                <li><a routerLink="listmenu">مصالح ساختمانی</a></li>
                <li><a routerLink="listmenu">سیستم های حفاظتی و امنیتی</a></li>
                <li><a routerLink="listmenu">دوربین مداربسته</a></li>
                <li><a routerLink="listmenu">آسانسور و پله برقی</a></li>
                <li><a routerLink="listmenu">درب اتوماتیک</a></li>
           

            </ul>
        </div>
        <div class="widget">
            <h6 class="title">لوازم خانگی</h6>
            <ul class="link">
                <li><a routerLink="listmenu">صوتی و تصویری</a></li>
                <li><a routerLink="listmenu">کولر و اسپلیت</a></li>
                <li><a routerLink="listmenu">لوازم آشپزخانه</a></li>
                <li><a routerLink="listmenu">لوازم دکوری</a></li>
                <li><a routerLink="listmenu">تصفیه آب</a></li>
                <li><a routerLink="listmenu">تعمیرات لوازم خانگی و برقی</a></li>
                <li><a routerLink="listmenu">ظروف یکبار مصرف</a></li>
                <li><a routerLink="listmenu">سایر</a></li>
                

            </ul>
        </div>
        <div class="widget">
            <h6 class="title">کامپیوتر و موبایل</h6>
            <ul class="link">
                <li><a routerLink="listmenu">فروش خدمات و تعمیرات کامپیوتر </a></li>
                <li><a routerLink="listmenu">طراحی</a></li>
                <li><a routerLink="listmenu">اینترنت پر سرعت</a></li>
                <li><a routerLink="listmenu">فروش و تعمیرات گوشی</a></li>
                <li><a routerLink="listmenu">سیم کارت</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">خدمات حقوقی بیمه</h6>
            <ul class="link">
                <li><a routerLink="listmenu">خدمات حقوقی</a></li>
                <li><a routerLink="listmenu">دفتر وکالت</a></li>
                <li><a routerLink="listmenu">خدمات بیمه</a></li>

            </ul>
        </div>
        <div class="widget">
          <a routerLink="listmenu"><h6 class="title">صرافی</h6></a>

        </div>
        <div class="widget">
            <h6>خدمات مالی و موسسات حسابداری</h6>
            <ul class="link">
                <li><a routerLink="listmenu">کارگزاری بورس</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">گالری پوشاک</h6>
            <ul class="link">
                <li><a routerLink="listmenu">مزون و شوی لباس</a></li>
                <li><a routerLink="listmenu">لباس عروس</a></li>
                <li><a routerLink="listmenu">پوشاک بانوان</a></li>
                <li><a routerLink="listmenu">پوشاک آقایان</a></li>
                <li><a routerLink="listmenu">پوشاک کودکان</a></li>
                <li><a routerLink="listmenu">سیسمونی و نوزاد</a></li>
                <li><a routerLink="listmenu">کیف و کفش</a></li>
                <li><a routerLink="listmenu">پارچه و منسوجات</a></li>
                <li><a routerLink="listmenu">خیاطی</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">آتلیه عکاسی</h6>
            <ul class="link">
                <li><a routerLink="listmenu">آتلیه عکاسی و فیلمبرداری</a></li>
                <li><a routerLink="listmenu">آتلیه عکاسی کودک</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">فروشگاه لوازم ورزشی</h6>
            <ul class="link">
                <li><a routerLink="listmenu">محصولات ورزشی</a></li>
                <li><a routerLink="listmenu">تجهیزات ورزشی</a></li>
                <li><a routerLink="listmenu">فروشگاه دوچرخه</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">باشگاه ورزشی</h6>
            <ul class="link">
                <li><a routerLink="listmenu">باشگاه بدنسازی</a></li>
                <li><a routerLink="listmenu">ایروبیک</a></li>
                <li><a routerLink="listmenu">یوگا</a></li>
                <li><a routerLink="listmenu">آموزش شنا</a></li>
                <li><a routerLink="listmenu">هنرهای رزمی</a></li>
                <li><a routerLink="listmenu">شطرنج</a></li>
                <li><a routerLink="listmenu">ژیمناستیک</a></li>
                <li><a routerLink="listmenu">اسکیت</a></li>
                <li><a routerLink="listmenu">بیلیارد و بولینگ</a></li>
                <li><a routerLink="listmenu">پینت بال</a></li>
                <li><a routerLink="listmenu">سایر آموزش ها</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">خدمات تفریح و سرگرمی</h6>
            <ul class="link">
                <li><a routerLink="listmenu">کارتینگ</a></li>
                <li><a routerLink="listmenu">بیلیارد و بولینگ</a></li>
                <li><a routerLink="listmenu">پینت بال</a></li>
                <li><a routerLink="listmenu">اطاق بازی کودکان</a></li>
                <li><a routerLink="listmenu">استخر</a></li>
            </ul>
        </div>      <div class="widget">
            <h6 class="title">معماری و دکوراسیون</h6>
            <ul class="link">
                <li><a routerLink="listmenu">دکوراسیون داخلی و نما</a></li>
                <li><a routerLink="listmenu">کابینت آشپزخانه</a></li>
                <li><a routerLink="listmenu">اجرای فضای سبز</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">تزئینات داخلی</h6>
            <ul class="link">
                <li><a routerLink="listmenu">کاغذ دیواری </a></li>
                <li><a routerLink="listmenu">پارکت و لمینت</a></li>
                <li><a routerLink="listmenu">کناف</a></li>
                <li><a routerLink="listmenu">لوستر</a></li>
                <li><a routerLink="listmenu">پرده</a></li>
                <li><a routerLink="listmenu">درب های آپارتمانی</a></li>
                <li><a routerLink="listmenu">موکت</a></li>
                <li><a routerLink="listmenu">آکواریوم</a></li>

            </ul>
        </div>
        <div class="widget">
            <h6 class="title">خدمات پزشکی و درمانی</h6>
            <ul class="link">
                <li><a routerLink="listmenu">بیمارستان</a></li>
                <li><a routerLink="listmenu">درمانگاه</a></li>
                <li><a routerLink="listmenu">فیزیو تراپی و توانبخشی</a></li>
                <li><a routerLink="listmenu">آزمایشگاه</a></li>
                <li><a routerLink="listmenu">مشاوره و روان درمانی</a></li>
                <li><a routerLink="listmenu">ترک اعتیاد</a></li>
                <li><a routerLink="listmenu">داروخانه</a></li>
                <li><a routerLink="listmenu">رادیولوژی و سونوگرافی</a></li>
                <li><a routerLink="listmenu">طب سنتی و عطاری</a></li>
                <li><a routerLink="listmenu">خانه سالمندان</a></li>
                <li><a routerLink="listmenu">پرستاری</a></li>
                <li><a routerLink="listmenu">مامایی</a></li>
                <li><a routerLink="listmenu">طب سوززنی</a></li>
                <li><a routerLink="listmenu">شنوایی سنجی</a></li>
                <li><a routerLink="listmenu">بینایی سنجی</a></li>
                <li><a routerLink="listmenu">کاردرمانی و گفتار درمانی</a></li>
                <li><a routerLink="listmenu">محصولات و کالاهای پزشکی</a></li>
            </ul>
        </div>
        <div class="widget">
                <h6 class="title">دامپزشکی</h6>
                <ul class="link">
                    <li><a routerLink="listmenu">کلینیک دامپزشکی</a></li>
                    <li><a routerLink="listmenu">فروش و لوازم حیوانات</a></li>
             
                </ul>
            </div>
              <div class="widget">
            <h6 class="title">کلینیک های زیبایی وکاشت مو</h6>
            <ul class="link">
                <li><a routerLink="listmenu">کاشت مو</a></li>
                <li><a routerLink="listmenu">لیزر موهای زائد</a></li>
                <li><a routerLink="listmenu">تزریق ژل و بوتاکس</a></li>
                <li><a routerLink="listmenu">جوانسازی</a></li>
                <li><a routerLink="listmenu">لیفت با نخ</a></li>
                <li><a routerLink="listmenu">لاغری و تناسب اندام</a></li>
                <li><a routerLink="listmenu">مراقبت پوست و مو</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">پزشکان</h6>
            <ul class="link">
                   <li><a routerLink="listmenu">فوق تخصص جراحی پلاستیک</a></li>
                 <li><a routerLink="listmenu">جراحی زیبایی و لیپوماتیک</a></li>
                 <li><a routerLink="listmenu">جراحی بینی</a></li>
                <li><a routerLink="listmenu">متخصص جراحی عمومی</a></li>
                 <li><a routerLink="listmenu">متخصص زنان و زایمان</a></li>
                 <li><a routerLink="listmenu">پزشکان پوست و مو</a></li>
                 <li><a routerLink="listmenu">متخصص داخلی </a></li>
                 <li><a routerLink="listmenu">فوق تخصص گوارش و کبد</a></li>
                  <li><a routerLink="listmenu">متخصص قلب و عرق</a></li>
                 <li><a routerLink="listmenu">فوق تخصص غدد رشد و متابولیسم</a></li>
                  <li><a routerLink="listmenu">متخصص چشم</a></li>
                  <li><a routerLink="listmenu">متخصص کلیه و مجاری ادراری</a></li>
                <li><a routerLink="listmenu">متخصص گوش حلق و بینی</a></li>
                 <li><a routerLink="listmenu">متخصص جراحی فک و صورت</a></li>
                <li><a routerLink="listmenu">جراح و متخصص مغز و اعصاب</a></li>
                <li><a routerLink="listmenu">متخصص ارتوپدی</a></li>
                <li><a routerLink="listmenu">متخصص کودکان</a></li>
                <li><a routerLink="listmenu">متخصص اعصاب و روان</a></li>
                <li><a routerLink="listmenu">متخصص تغذیه و رژیم درمانی</a></li>
                <li><a routerLink="listmenu">دندانپزشکان</a></li>
                <li><a routerLink="listmenu">کلینیک دندانپزشکی</a></li>
                <li><a routerLink="listmenu">دندانپزشک کودکان</a></li>
                <li><a routerLink="listmenu">دندانپزشک زیبایی</a></li>
                <li><a routerLink="listmenu">ایمپلمنت-کاشت دندان</a></li>
                <li><a routerLink="listmenu">جراحی لثه</a></li>
                <li><a routerLink="listmenu">ارتودنسی</a></li>
              
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">سالن های آرایشی و زیبایی</h6>
            <ul class="link">
                <li><a routerLink="listmenu">میکرو پگیمنتیشن</a></li>
                <li><a routerLink="listmenu">کاشت و طراحی ناخن </a></li>
                <li><a routerLink="listmenu">اپیلاسیون و اکستنشن</a></li>
                <li><a routerLink="listmenu">ماساژ</a></li>
                <li><a routerLink="listmenu">آرایشگاه مردانه</a></li>
                <li><a routerLink="listmenu">آرایشگاه کودک</a></li>
                <li><a routerLink="listmenu">محصولات آرایشی و زیبایی</a></li>
                <li><a routerLink="listmenu">عطر و ادکلن</a></li>
                <li><a routerLink="listmenu">خدمات پوست مو و زیبایی</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">جواهرات و بدلیجات</h6>
            <ul class="link">
                <li><a routerLink="listmenu">طلا و جواهر و سکه</a></li>
                <li><a routerLink="listmenu"> نقره</a></li>
                <li><a routerLink="listmenu">زیور آلات و بدلیجات</a></li>
          
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">ساعت و عینک</h6>
            <ul class="link">
                <li><a routerLink="listmenu">ساعت</a></li>
                <li><a routerLink="listmenu">لنز و عینک های طبی</a></li>
                <li><a routerLink="listmenu">عینک های آفتابی</a></li>
              
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">مبلمان و سرویس خواب</h6>
            <ul class="link">
                <li><a routerLink="listmenu">مبل</a></li>
                <li><a routerLink="listmenu">سرویس خواب </a></li>
                <li><a routerLink="listmenu">تشک و کالای خواب</a></li>
                <li><a routerLink="listmenu">صنایع چوبی و فلزی</a></li>
                <li><a routerLink="listmenu">تعمیرات و پیراهن مبل</a></li>
           
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">فرش</h6>
            <ul class="link">
                <li><a routerLink="listmenu">فرش دستباف</a></li>
                <li><a routerLink="listmenu">فرش ماشینی</a></li>
                <li><a routerLink="listmenu">گبه</a></li>
                <li><a routerLink="listmenu">تابلو فرش</a></li>
                <li><a routerLink="listmenu">تعمیر و ترمیم فرش</a></li>
            </ul>
        </div>
        <div class="widget">
            <h6 class="title">رستوران و فست فود</h6>
            <ul class="link">
                <li><a routerLink="listmenu">تهیه غذا</a></li>
                <li><a routerLink="listmenu">فست فود</a></li>
                <li><a routerLink="listmenu">کافه و کافی شاپ</a></li>
                <li><a routerLink="listmenu">سفره خانه</a></li>
                <li><a routerLink="listmenu">قنادی</a></li>
                <li><a routerLink="listmenu">آبمیوه و بستنی</a></li>
                <li><a routerLink="listmenu">خشکبار و آجیل</a></li>
                <li><a routerLink="listmenu">هایپر مارکت</a></li>
                <li><a routerLink="listmenu">محصولات غذایی</a></li>
      
            </ul>
        </div>
        <div class="widget">
           <a routerLink="listmenu"> <h6 class="title">موسسه فرهنگی وهنری</h6></a>
        </div>
        <div class="widget">
            <a routerLink="listmenu"> <h6 class="title">موسسه فرهنگی وهنری</h6></a>
            </div>
            <div class="widget">
                <a routerLink="listmenu"> <h6 class="title">دارالترجمه</h6></a>
                </div>
                <div class="widget">
                    <a routerLink="listmenu"> <h6 class="title">آگهی های تخفیف دار</h6></a>
                    </div>
                    <div class="widget">
                        <a routerLink="listmenu"> <h6 class="title">دفتر خدمات ارتباطی</h6></a>
                        </div>
                        <div class="widget">
                            <a routerLink="listmenu">  <h6 class="title">چاپ و تبلیغات</h6></a>
                            </div>
                            <div class="widget">
                                <a routerLink="listmenu">  <h6 class="title">بانک</h6></a>
                                </div>
                                <div class="widget">
                                    <a routerLink="listmenu">  <h6 class="title">فروشگاه اسباب بازی</h6></a>
                                    </div>
                                    <div class="widget">
                                        <a routerLink="listmenu">  <h6 class="title">محصولات شوینده و بهداشتی</h6></a>
                                        </div>
                                        <div class="widget">
                                            <h6 class="title">خدمات عمومی</h6>
                                            <ul class="link">
                                                <li><a routerLink="/listmenu">قالی شویی</a></li>
                                                <li><a routerLink="/listmenu">خشک شویی</a></li>
                                                <li><a routerLink="/listmenu">خدمات نظافتی</a></li>
                                                <li><a routerLink="/listmenu">خدمات فنی و تاسیسات</a></li>
                                                <li><a routerLink="/listmenu">خدمات آسانسور</a></li>
                                                <li><a routerLink="/listmenu">سمپاشی</a></li>
                                                <li><a routerLink="/listmenu">لوله بازکنی</a></li>
                                                <li><a routerLink="/listmenu">تاکسی تلفنی</a></li>
                                                <li><a routerLink="/listmenu">اتوبار</a></li>
                                                <li><a routerLink="/listmenu">پیک موتوری</a></li>
                                            </ul>
                                        </div>
        

    </div>
    <!-- End Side Menu -->
</nav>
