/*header.masthead {
 font-family: 'C:/projectwebsiteimportant/website/src/assets/font/btitr.ttf';
  height: 43rem;
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-position: 50%;
    background-size: cover;
    background-image: url("C:/projectwebsiteimportant/website/src/assets/bg.jpg");
    background-color: blue;
  }*/
  h1{
    font-size: 35px;
    color: white;
  }
  .masthead {
    color: white;
    height: 100vh;
    min-height: 500px;
    /*background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');*/
    background-image: url('src/pic/banner-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }

   
      .button_cont
      {
      
        text-align: center;
        margin-right: 25px;
        display: inline-block;
       width: 50px;
       
      }
      .button_cont2
      {
       margin-left: 20px;
        text-align: center;
        margin-right: 25px;
        display: inline-block;
       width: 50px;
      }



@media (max-width: 991px) {
 
}
@media (max-width: 640px){
  

}

 