.container{
    margin-right: 200px;
}
@font-face{
    font-family:'byekan';
    src:url(src/assets/font/yekan.ttf);
}


.post{
    width: 300px;
    height: 300px;
    border: 2px solid #27aaa4;
    border-radius: 10px;
    float: right;
    margin-top: 50px;
 
}
 .post h4{
font-family: "byekan";
font-size: 27px;
text-align: center;
color: #3cbcaf;
} 
hr{
    width: 180px;
    border-color: rgb(133, 130, 130);
    height: 2px;
    border-width: 2px;
}
p{
    text-align: center;
    font-size: 17px;
    font-family: "byekan";
}
#btn{
   width: 200px;
   height: 50px;
   margin: 10px 10px 10px 45px;
   background-image: linear-gradient(#71c27f,#2dbcb6) ;
   border-radius: 10px;
   font-size: 17px;
   font-family: "byekan";
   border: 1px solid #27a9a1;
}
@media (min-width: 360px){
h2{
padding:0 20px 50px 20px;
}
.post{
    margin-bottom: 40px;
}
}
@media (min-width: 480px){
    h2{
        padding-right: 100px;
    }
    .post{
        margin-right: 80px;
    }
}
@media (min-width: 768px){
    h2{
        padding-right: 200px;
    }
    .post{
        margin-right: 20px;
    }
}
@media (min-width: 320px){
    h2{
        padding-right: 30px;
    }
    .post{
        margin-bottom: 30px;
    }
}
@media (min-width: 768px){
    h2{
        padding-right: 170px;
    }
}
 @media (min-width: 1024px){
    h2{
    padding-right: 290px;
    padding-bottom:50px;
}
.post{
    margin-right: 80px;
}
} 