.container{
    margin-right: 250px;
    margin-left: 80px;
}
.info{
    width: 600px;
    height: 350px;
    float: right;
    margin: 80px 150px 1px 20px;
    box-shadow: 0 2px 10px 0 rgba(66, 66, 66, 0.507);
}
.pic{
    width: 400px;
    height: 350px;
    box-shadow: 0 2px 10px 0 rgba(66, 66, 66, 0.507);
    float: right;
    margin: 80px 40px 20px 10px;
}
.desc{
    width: 400px;
    height: 350px;
    box-shadow: 0 2px 10px 0 rgba(66, 66, 66, 0.507);
    float: right;
    margin: 80px 150px 1px 20px; 
}
.map{
    width: 400px;
    height: 350px;
    box-shadow: 0 2px 10px 0 rgba(66, 66, 66, 0.507);
    float: right;
    margin: 80px 40px 70px 10px;  
}
.map iframe{
    width: 400px;
    height: 350px;
}
@media (min-width: 320px)
{
    .info{
        width: 230px;
       height: 200px;
   float: right;
   margin-right: 120px;
    }
    .pic{
        width: 230px;
        height: 200px;
    float: right;
    margin-right: 120px;
    }
    .desc{
        width: 230px;
        height: 200px;
    float: right;
    margin-right: 120px;
    }
    .map{
        width: 230px;
        height: 200px;
    float: right;
    margin-right: 120px;
    }
    .map iframe{
        width: 230px;
        height: 200px;
   
    }
}
@media (min-width: 768px){
    .info{
        width: 230px;
        height: 200px;
    }
    .pic{
        width: 230px;
        height: 200px;
        float: right;
        margin-right: 30px;
    }
    .map{
        margin-right: 30px;
    }
}
@media (min-width: 1024px){
    .info{
        margin-right: 200px;
        width: 300px;
    }
    .pic{
        width: 300px;
    }
    .desc{
        margin-right: 200px;
        width: 300px;
    }
    .map{
        width: 300px;
    }
    .map iframe{
        width: 300px;
    }
}