<div class="container">
  <a href="#">
    <div class="pic">
      <div id="pic" class="card">
        <div class="card-body">تصویر</div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="info">
      <div id="info" class="card">
        <div class="card-body">اطلاعات</div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="description">
      <div id="description" class="card">
        <div class="card-body">توضیحات</div>
      </div>
    </div>
  </a>
  <br />
  <a href="#">
    <div class="map">
      <div id="map" class="card">
        <div class="card-body">نقشه</div>
      </div>
    </div>
  </a>
</div>