<div class="container">

  <div class="info">
    <h5>اطلاعات</h5>
  </div>
  <div class="pic">
    <h5>عکس محل کسب و کار</h5>
  </div>
  <div class="desc">
    <h5>توضیحات </h5>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104823.72182624387!2d48.440026869327156!3d34.81244967808837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ff1ecc4b3aab593%3A0x7b0b82ddf4074b5b!2sHamedan%2C%20Hamadan%20Province%2C%20Iran!5e0!3m2!1sen!2sae!4v1570604147542!5m2!1sen!2sae"
      width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>
