
 <div class="container">
    <h2>برای تهیه اشتراک یکی از گزینه هارا انتخاب کنید.</h2>
 <br>
 <br>
 <div class="post">
    <br>
  <h4>1<br>ماهه</h4>
  
  <hr/> 
  <p>توضیحات</p> 
  <br>
  <br>
  <br>
  <br>
  <hr/>
    <button class="btn btn-primary" id="btn">خرید اشتراک</button>
  </div>
        <div class="post">
            <br>
          <h4>2<br>ماهه</h4>
          
          <hr/> 
          <p>توضیحات</p> 
          <br>
          <br>
          <br>
          <br>
          <hr/>
            <button class="btn btn-primary" id="btn">خرید اشتراک</button>
              </div>
              <div class="post">
                  <br>
                <h4>1<br>ماهه</h4>
                
                <hr/> 
                <p>توضیحات</p> 
                <br>
                <br>
                <br>
                <br>
                <hr/>
                  <button class="btn btn-primary" id="btn">خرید اشتراک</button>
                    </div>
                    <div class="post">
                        <br>
                      <h4>1<br>ماهه</h4>
                      
                      <hr/> 
                      <p>توضیحات</p> 
                      <br>
                      <br>
                      <br>
                      <br>
                      <hr/>
                        <button class="btn btn-primary" id="btn">خرید اشتراک</button>
                          </div>
                          <div class="post">
                              <br>
                            <h4>3<br>ماهه</h4>
                            
                            <hr/> 
                            <p>توضیحات</p> 
                            <br>
                            <br>
                            <br>
                            <br>
                            <hr/>
                              <button class="btn btn-primary" id="btn">خرید اشتراک</button>
                                </div>
                                <div class="post">
                                    <br>
                                  <h4>1<br>ماهه</h4>
                                  
                                  <hr/> 
                                  <p>توضیحات</p> 
                                  <br>
                                  <br>
                                  <br>
                                  <br>
                                  <hr/>
                                    <button class="btn btn-primary" id="btn">خرید اشتراک</button>
                                  </div>
                                  <div class="post">
                                      <br>
                                    <h4>1<br>ماهه</h4>
                                    
                                    <hr/> 
                                    <p>توضیحات</p> 
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <hr/>
                                      <button class="btn btn-primary" id="btn">خرید اشتراک</button>
                                    </div>
                                    <div class="post">
                                        <br>
                                      <h4>1<br>ماهه</h4>
                                      
                                      <hr/> 
                                      <p>توضیحات</p> 
                                      <br>
                                      <br>
                                      <br>
                                      <br>
                                      <hr/>
                                        <button class="btn btn-primary" id="btn">خرید اشتراک</button>
                                      </div>
                                      <div class="post">
                                          <br>
                                        <h4>1<br>ماهه</h4>
                                        
                                        <hr/> 
                                        <p>توضیحات</p> 
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <hr/>
                                          <button class="btn btn-primary" id="btn">خرید اشتراک</button>
                                        </div>
                                        <div class="post">
                                            <br>
                                          <h4>1<br>ماهه</h4>
                                          
                                          <hr/> 
                                          <p>توضیحات</p> 
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <hr/>
                                            <button class="btn btn-primary" id="btn">خرید اشتراک</button>
                                          </div>
                                          <div class="post">
                                              <br>
                                            <h4>1<br>ماهه</h4>
                                            
                                            <hr/> 
                                            <p>توضیحات</p> 
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <hr/>
                                              <button class="btn btn-primary" id="btn">خرید اشتراک</button>
                                            </div>
                                            <div class="post">
                                                <br>
                                              <h4>1<br>ماهه</h4>
                                              
                                              <hr/> 
                                              <p>توضیحات</p> 
                                              <br>
                                              <br>
                                              <br>
                                              <br>
                                              <hr/>
                                                <button class="btn btn-primary" id="btn">خرید اشتراک</button>
                                              </div>
      </div>

