 @font-face{
    font-family:'byekan';
    src:url(src/assets/font/yekan.ttf);
}

h2{
    float: right;
    direction: rtl;
    font-size: 20px;
    color: rgb(75, 23, 105);
    padding-right: 100px;
    
}
.post{
    width: 300px;
    height: 300px;
    border: 2px solid rgb(63, 13, 104);
    border-radius: 10px;
    float: right;
    
 
}
 .post h4{
font-family: "byekan";
font-size: 27px;
text-align: center;
color: rgb(141, 49, 228);
} 
hr{
    width: 180px;
    border-color: rgb(133, 130, 130);
    height: 2px;
    border-width: 2px;
}
p{
    text-align: center;
    font-size: 17px;
    font-family: "byekan";
}
#btn{
   width: 200px;
   height: 50px;
   margin: 10px 10px 10px 45px;
   background-image: linear-gradient(rgb(139, 102, 156),rgb(65, 18, 112)) ;
   border-radius: 10px;
   font-size: 17px;
   font-family: "byekan";
   border: 1px solid rgb(107, 39, 124);
}
@media only screen and (max-width:1024px) {
    h2{
       
        margin:10px 0 20px 200px;
    }
    .post{
     
        display: inline-block;
        
    }
    
}
@media only screen and (max-width:1366px){
    h2{
        margin: 10px 250px 30px 100px;
    }
    .post{
        margin:15px 100px 25px 5px;
        float: right;
        
    }
}