<div class="list">
    <h2>نمایشگاه اتومبیل </h2>
    <hr>
    <a routerLink="/industry">gdfbdfvdvbvsdvvsvs</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
    <hr>
    <a routerLink="/industry">kjnkj</a>
  </div>
