/* REMOVE THIS, USE YOUR OWN  */

  /* STYLES SPECIFIC TO FOOTER  */
  #login{
    display: inline-block;
  }
  hr{
    background-color: rgb(255, 255, 255);
line-height: 3px;
margin: 90px 90px 0 90px;
  }
  .footer {
    width: 100%;
    position: relative;

    height: auto;
    background-color: #2b4392;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: right;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
 
    
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: 'hk';
    font-size: 2em;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255, 255, 255, 0.541);
    font-weight: normal;
    text-transform: uppercase;
    
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #ffffff;
    font-size: 17px;
    font-family: 'hk';
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .col{
    margin-top: 2rem;
    margin-right: 40rem;
  }
  .clearfix {

    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
    @media only screen and (max-width: 340px) {
       .col {
        margin-top: 2rem;
        margin-right: 40rem;
        
      }
  }}
 *{
	color: beige;

} 
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.footer-distributed{
	bottom: 0;
	height: 350px;
	background-color:#1c0034;
	padding: 5px;
	
	
}
#footer-top{
	height: auto;

}
/* #footer-right{
	right: 0;
	direction: rtl;
	float: right;

} */
#footer-right h3{
	
	float: right;
	direction: rtl;
padding:7px 30px 5px 0;
	
}
#footer-right p{

	padding: 0 30px 5px 0;
	float: right;
	direction: rtl;
	font-size: 15px;
}
#footer-left{
	direction: rtl;
	padding-left: 25px;
	
}
#footer-left h6{
	display: inline block;
}
/* #footer-bottom{
	float: right;
	direction: rtl;
} */
 #footerR{

	padding: 7px 40px 5px 0;
	
	
	
} 
#footerR h3{
	float: right;
	direction: rtl;
}
#footerR li{
  list-style-type: none;
  text-decoration: none;
}
#footerR li a{
float: right;
	direction: rtl;
  right: 0;
  text-decoration: none;
} 
#footerL h3 {
	direction: rtl;
	float: right;
	right: 0;
	
}
#footerL li {
	direction: rtl;
	float: right;
	right: 0;
  list-style-type: none;
  text-decoration: none;
	
}
@media only screen and (max-width:640px) {
	.footer-distributed{
		height:550px;;
	}
	#footer-left{
		height: 620;
		float: right;
	}
	#footer-right{
		float: right;
		direction: rtl;
	}
	#footer-right{
		padding: 10px 5px 5px 5px;
	}
	#footer-right p{
		direction: rtl;
		padding: 0 25px 4px 30px;
		right: 0;
	}
	#footerR{
		height: auto;
		float: right;
	}
	#footerR h3{
		float: right;
		direction: rtl;
		font-size: 15px;
	}
	
	#footerR li a{
	float: right;
		direction: rtl;
		right: 0;
    font-size: 13px;
    text-decoration: none;
	} 
	#footerL{
		float: right;
		height: auto;
		padding-right: 33px;
	}
	#footerL h3 {
		direction: rtl;
		float: right;
		right: 0;
		padding-right: 10px;
		
	}
	#footerL li {
		direction: rtl;
		right: 0;
		list-style-type: none;
		display: inline block; 
		padding-right: 5px;
		
	}
	#footerL li a{
    text-decoration: none;
		font-size: 12px;
		padding-right:1px;
	}
}
@media only screen and (max-width:568px){
#footerL li a{
  text-decoration: none;
		font-size: 10px;
}
}
@media only screen and (max-width:1024px){
	#footerL li a{
    text-decoration: none;
		font-size: 15px;
}
}
