
      <!-- FOOTER START -->
      <div class="footer">
        <div class="contain">
          <div class="logo"></div>
         
        <div class="col">
      <!--   <h1>ویژه</h1>
          <ul>
            <li>لینک</li>
            <li>لینک</li>
            <li>لینک</li>
            <li>لینک</li>
            <li> لینک </li>
          </ul>
        </div>
        <div class="col">
          <h1>خدمات</h1>
          <ul>
            <li>لینک</li>
            <li>لینک</li>
            <li>لینک</li>
            <li>لینک</li>
            <li>لینک</li>
          </ul>
        </div>--> 
      
      
     <!--  <div class="col">
          <h1></h1>
          <ul>
            <li>Contact us</li>
            <li>Web chat</li>
            <li>Open ticket</li>
          </ul>
        </div>--> 
    لوگو</div>
      <div class="clearfix">
      <div class="footer-top">
    
      </div>
      <hr/>
      <div class="footer-down">
        <div class="col"><h2>hhhhhhhhhhhhhhhhhhhhhhhhhhhhh
          hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
          hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
          hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
          hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
          hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
    hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
        </h2></div>
      </div>
      </div>
    
      </div>
      <!-- END OF FOOTER -->
