<footer class="footer-distributed">
  <div class="row " id="footer-top">
  <div class="col-sm-6" id="footer-left" >
    <p> نمادها</p>
    <h6>ncsnckas</h6>
    <h6>ncsnckas</h6>
    <h6>ncsnckas</h6>
 
  </div>


  <div class="col-sm-6" id="footer-right">
    <h3>درباره سایت:</h3>
    <br/>
    <br/>
    <br/>
<p>  
 سایت بازار آنلاین همدان جهت تبلیغات تمامی مشاغل در 
 سطح استان راه اندازی شده است . 
</p>
  </div>
 
</div>
<br/>
<br/>
<br/>
<hr>
<br/>
<div class="row" id="footer-bottom">
    <div class="col-sm-6" id="footerL">
       <ul><h3>ارتباط با ما:</h3>
        <br/>
        <li><a href="#"><i class="fa fa-phone">&nbsp;&nbsp;&nbsp;&nbsp;</i>شماره تماس : 093706366  </a></li>
        <br/>
        <li><a href="#"><i class="fa fa-instagram">&nbsp;&nbsp;&nbsp;&nbsp;</i> صفحه اینستاگرام : website-digital-marketing  </a></li>
        <br/>
        <li><a href="#"><i class="fa fa-envelope">&nbsp;&nbsp;&nbsp;&nbsp;</i>ایمیل   :   www.vdfvfd@gmail.com    </a></li>
      </ul> 
      </div>
<div class="col-sm-6" id="footerR">
 <ul><h3>بخش های سایت:</h3>
  <br/>
 <li> <a routerLink="/">صفحه اصلی</a></li>
 <br/>
  <li><a href="#">عضویت </a></li>
  <br/>
  <li><a href="#">ورود</a></li>
 </ul>
</div>

</div>
</footer>
