<<<<<<< HEAD


=======
>>>>>>> 5f9ae585ef055f9da03b85f491fbdcee6fb1147a
@font-face {
    font-family:'aban';
    
    src:
<<<<<<< HEAD

        url('src/assets/font/aban.ttf') format('truetype'),

        url('C:/codep/comment/comment/src/assets/font/aban.ttf') format('truetype'),

=======
        url('src/assets/font/aban.ttf') format('truetype'),
>>>>>>> 5f9ae585ef055f9da03b85f491fbdcee6fb1147a
       
    
}
@font-face {
    font-family:'entezar';
    
    src:
<<<<<<< HEAD

        url('src/assets/font/entzar.ttf') format('truetype'),
        url('C:/codep/comment/comment/src/assets/font/entzar.ttf') format('truetype'),

=======
        url('src/assets/font/entzar.ttf') format('truetype'),
>>>>>>> 5f9ae585ef055f9da03b85f491fbdcee6fb1147a
       
    
}
@font-face {
	font-family: 'hk';
 src: 
 url('src/assets/font/hekayat.ttf') 
format('truetype') ;
	font-style: normal;
    font-weight: bold;
}
@font-face {
	font-family: 'amitra3';
 src: 
 url('src/assets/font/a-mitra.ttf') 
format('truetype') ;
	font-style: normal;
    font-weight: bold;
}
@font-face {
	font-family: 'yekan';
 src: 
 url('src/assets/font/yekan.ttf') 
format('truetype') ;
	font-style: normal;
    font-weight: bold;
}
@font-face {
	font-family: 'cal';
 src: 
 url('src/assets/font/calibri.ttf') 
format('truetype') ;
	font-style: normal;
    font-weight: bold;
}
@font-face {
	font-family: 'ham';
 src: 
 url('src/assets/font/hamse.ttf') 
format('truetype') ;
	font-style: normal;
    font-weight: bold;
}
h1{
    font-family: 'yekan';
    font-size: 50px;
}
h6,li,a,ul,h3{
    
    font-family: 'yekan',  sans-serif;
    font-size: 16px;
}

p{
<<<<<<< HEAD
    font-size: 5px;
    font-family: 'amitra3';
}
h2{
    font-family: 'hk';
=======
    font-size: 10px;
    font-family: 'yekan';
}
h2{
    font-family: 'yekan';
>>>>>>> 5f9ae585ef055f9da03b85f491fbdcee6fb1147a
    font-size: 30px;
}

