h1{
    text-align: center;
    margin: 30px 30px 30px 30px;
}
#btn{
 text-align: center;
    box-align: center;
    margin: 30px 30px 30px 30px;
    
}
a{
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    width: 150px;
    height: 50px;
}